<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="self">
    <div *ngFor="let card of ownCards" class="row">
      <img *ngIf="card.show; else cardBack" [src]="getCardUrl(card)" width="120">
      <ng-template #cardBack>
        <img src="assets/PNG/blue_back.png" width="120" (click)="flip(card)">
      </ng-template>
    </div>
  </div>
  <div class="center">
    <img src="assets/PNG/blue_back.png" width="120">
  </div>
  <div class="opponent">
    <div *ngFor="let card of opponentCards" class="row">
      <img *ngIf="card.show; else cardBack" [src]="getCardUrl(card)" width="120">
      <ng-template #cardBack>
        <img src="assets/PNG/blue_back.png" width="120" (click)="flip(card)">
      </ng-template>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>